@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@700&family=Rubik+Maze&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    display: block;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1rem;
    overflow:scroll;
    position: relative;
    /* background-image: url(https://github.com/ronnydeng67/Car-Picker/blob/main/images/home.jpeg); */
    background-image: url("../../images/back.jpg");
    background-size: cover;
    /* background-color: lightgray; */
}

ul {
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}


.header {
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
}

.nav {
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navLogos {
    color: white;
    display: inline-flex;
    white-space: nowrap;
}

.navLogos {
    align-items: center;
    column-gap: .25rem;
    font-weight: 500;
    transition: .3s;
    padding-top: 2rem;
    padding-left: 1rem;
}

.navLogos i{
    font-size: 1.25rem;
}


.navLogos:hover {
    color:hsl(31, 100%, 70%)
}


.navMenu {
    position: relative;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: .3s;
 }


.navList {
    display: flex;
    justify-content: flex-end;
    text-align: center;
    column-gap: 2rem;
    padding-top: 2rem;
    padding-right: 1rem;
}


.navLink {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.25rem;
    transition: .3s;
}



.navLink:hover {
    color:hsl(31, 100%, 70%)
}


.center_box {
    width: 100wd;
    height: 700px;
    /* border: 1px solid white; */
    padding: 50px;
    margin: 25px 150px 20px 150px;
    display: flex;
    flex-direction: column;
    background-color: #DCC7AA;
    border-radius: 2rem;
    /* background-image: url(../../images/new-home.avif) */
}

.sliders {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 80%;
}

.buttonContainer {
    /* border: 1px solid white; */
    width: 95vw;
    padding: 5px;
    display: flex;
    justify-content: center;
    height: 50px;
    margin: auto;
    align-items: center;
}

.button {
    font-size: x-large;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: Black;
    background-color: burlywood;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px gray;
    transition: 0.1s;
}

.button:hover {
    background-color: skyblue;
    transform: scale(1.2);
    margin-bottom: 20px;
}

.button:active {
    background-color: aliceblue;
    box-shadow: 0 5px #666;
    transform: translateY(6px);
}

.horsepowerSlider,
.fuelSlider,
.budgetSlider,
.capacitySlider {
    width: 100%;
}

.btm_box {
    width: 100%;
    height: 20%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: x-large;
}

.bodyStyle,
.transmission {
    color: white;
}

.allwheel,
.ev {
    color: white;
    padding-right: 15px;
}

input[type=checkbox] {
    transform: scale(1.8);
    transition: .2s;
    cursor: pointer;
}

input[type=checkbox]:hover {
    transform: scale(3.5);
}


select {
    width: 180px;
    height: 45px;
    text-align: center;
    border-radius: 5px #2a2f3b solid;
    cursor: pointer;
    background: #2a2f3b;
    color: #fff;
    padding: 5px;
    border-radius: 8px;
    transition: .3s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
}


select:hover {
    background: #323741;
    transform: scale(1.2);
}

.ri-information-fill {
    color: white;
    font-size: 2.1rem;
}

.aboutText {
    display: none;
    width: 21%;
    top: 100px;
    left: 65%;
    height: auto;
    position: relative;
    border: 1px solid white;
    color:aquamarine;
    background: white;
    border-radius: 5px;
    padding: 10px;
}

