.sidebar {
    padding: 30px 0;
    height: 80vh;
    width: 10vw;
    list-style: none;
    text-decoration: none;
    position:fixed;
    top: 2rem;
}

.sidebar ul li{
    padding: 15px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: black;
    padding-left: 10px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, .1);
    transition: .4s;
}
.sidebar ul li:hover {
    padding-right: 10px;
    font-weight: 900;
}

