@import url('https://fonts.googleapis.com/css?family=Courgette');

#hp_value,
#fuel_value,
#budget_value,
#capacity_value {
    color: blue;
    font-size: x-large;
    font-weight: 800;
    font-family: Courgette;
}

.horsepowerSlider,
.fuelSlider,
.budgetSlider,
.capacitySlider {
    background-color: linear-gradient(to right, #6b8dff 0%, red 0%, blue 0%, yellow 100%);
    height: 15px;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
    border-radius: 25px;
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0, 0.75);
}

.horsepowerSlider::-webkit-slider-thumb,
.fuelSlider::-webkit-slider-thumb,
.budgetSlider::-webkit-slider-thumb,
.capacitySlider::-webkit-slider-thumb {
    cursor: pointer;
    appearance: none;
    height: 25px;
    width: 25px;
    background-color:black;
    border-radius: 50%;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0, 0.75);
    -webkit-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0, 0.75);
    -moz-box-shadow: 2px 8px 13px -3px rgba(116, 114, 114, 0, 0.75);
}

.hp_container,
.fuel_container,
.budget_container,
.capacity_container
 {
    color:aquamarine;
    font-size: x-large;
    padding-bottom: 20px;
}