@import "./styles/reset.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2%;
    justify-content: center;
    overflow: hidden;
    // background-color: black;
}

.top {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main {
    display:flex;
}

#box1 {
    padding: 10px;
    border: solid 1px black;
    margin-bottom: 15px;
}

#box2 {
    // flex-grow: 2;
    border: solid 1px black;
    height: 80vh;
    width: 5vw;

}

#box3 {
    border: solid 1px black;
    height: 80vh;
    width: 90vw;
    margin-left: 15px;
}

// #box4 {
//     border: solid 1px black;
//     height: 80vh;
//     width: 20vw;
//     margin-left: 15px;
// }

